library {
    display: block;
}

book {
    display: block;
    background-color: pink;
    color: white;
    margin: 10px;
    padding: 10px;
}

title {
    display: block;
    font-size: 22px;
    font-weight: bold;
}

author {
    display: block;
}

year {
    display: block;
}