class{
display:block;
width:100%;
}
student{
display:block;
background-color:pink;
font-size:40px;
font-weight:bold;
margin:10px;
padding:10px;
}
name{
display:block;
color:red;
font-size:20px;

}
rollno{
display:block;
color:red;
font-size:20px;
}
age{
display:block;
color:red;
font-size:20px;
}
qualification{
display:block;
color:red;
font-size:20px;
}
