book{
color:white;
background-color:pink;
font-size:60px;
}
heading{
color:green;
font-size:40px;
background-color:linen;
}
heading,title,author,publisher,edition{
display:inline;
}
title{
font-size:25px;
font-weight:bold;
}